<div class="row">
  <div class="btn p-4 text-light border-dark outline-gold-hover col-4" onclick="city_bikes(<%= @bikes[:center][1] %>,<%= @bikes[:center][0] %>,<%= @bikes[:body].to_json %>);">By-sykkel</div>
  <div class="btn p-4 text-light border-dark outline-gold-hover col-4" onclick="places(<%= @bikes[:center][1] %>, <%= @bikes[:center][0] %>);">Cafe</div>
  <div class="btn p-4 text-light border-dark outline-gold-hover col-4" onclick="campus()">Campus</div>
</div>
<div class="row" style="height: 100%">
  <div id="map" class="col-12"></div>
</div>