
<!--<div class="card card-body">-->
<!--  <div class="row">-->
<!--    <div class="col-md-1">-->
<!--      <i class="fas fa-train mb-md-3"></i>-->
<!--      <a href="#rute_tabell"><i class="fas fa-arrow-down"></i></a>-->
<!--    </div>-->
<!--    <div class="col-md-2">-->
<!--      <p class=""><%#= 12 %></p>-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <div class="row">-->
<!--       <p>Avgangsstopp: <%#=  %></p>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <p>Ankomststopp: <%#= 'Vulkan' %></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<% @travel['TravelProposals'].each do |travelproposal| %>
  <div class="card card-body">
    <div class="row">
    <% travelproposal['Stages'].each do |stage| %>
      <% unless stage['Transportation'] == 0 %>
        <div class="col-md-1">
          <div class="row">
            <% case stage['Transportation'] %>
            <% when 7 %>
              <i class="fas fa-train mb-md-3"></i>
            <% when 2 %>
              <i class="fas fa-bus mb-md-3"></i>
            <% else %>
              <p></p>
            <% end %>
            <p class="ml-md-2"><%= stage['LineName'] %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <%= stage['DepartureStop']['Name'] %>
          </div>
          <div class="row">
            <%= stage['ArrivalStop']['Name'] %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="col-md-3">
      <div class="row">
        <p>ArrivalTime: </p><%= DateTime.parse(travelproposal['ArrivalTime']).strftime('%H:%M') %>
      </div>
      <div class="row">
        <p>DepartureTime: </p><%= DateTime.parse(travelproposal['DepartureTime']).strftime('%H:%M') %>
      </div>
    </div>
    </div>
  </div>
<% end %>



<div class="row"></div>
<div class="row"></div>
<!--<TravelProposal>-->
<!--<ArrivalTime>2018-04-30T20:33:00+02:00</ArrivalTime>-->
<!--<DepartureTime>2018-04-30T20:32:00+02:00</DepartureTime>-->
<!--<Remarks xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>-->
<!--<Stages xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">-->
<!--  <d4p1:anyType i:type="TravelStage">-->
<!--    <ArrivalDelay>PT0S</ArrivalDelay>-->
<!--    <ArrivalStop i:type="StopDetailed">...</ArrivalStop>-->
<!--    <ArrivalTime>2018-04-30T20:33:00+02:00</ArrivalTime>-->
<!--    <DepartureDelay>PT0S</DepartureDelay>-->
<!--    <DepartureStop i:type="StopDetailed">...</DepartureStop>-->
<!--    <DepartureTime>2018-04-30T20:32:00+02:00</DepartureTime>-->
<!--    <Destination>Storo-Grefsen stasjon</Destination>-->
<!--    <Deviations/>-->
<!--    <Geometry>chvlJimt`A_NN</Geometry>-->
<!--    <IntermediateStops i:nil="true"/>-->
<!--    <LineColour>0B91EF</LineColour>-->
<!--    <LineID>13</LineID>-->
<!--    <LineName>13</LineName>-->
<!--    <Monitored>false</Monitored>-->
<!--    <Operator/>-->
<!--    <Remarks/>-->
<!--    <TourID>500130172</TourID>-->
<!--    <TourLineID>0</TourLineID>-->
<!--    <Transportation>Tram</Transportation>-->
<!--    <TravelTime>PT1M</TravelTime>-->
<!--  </d4p1:anyType>-->
<!--</Stages>-->
<!--<TotalTravelTime>PT1M</TotalTravelTime>-->
<!--<Zones xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true"/>-->
<!--</TravelProposal>-->