<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Studentveiviseren</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
      possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
      repellat.</p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
  <div class="row">
    <div class="col-md-6">
      <iframe style="border: 0;"
              src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE &amp;destination=<%= @til %>> &amp;origin=<%= @fra %>> &amp;mode=transit" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen">
        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>
        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>
      </iframe>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <%= form_tag("/index", method: "post") do %>
        <div class="align-content-md-start">
          <%= "Fra:" %>
          <div class="row">
            <%= label_tag("Fjerdingen") %>
            <%= radio_button_tag("fra", "fjerdingen", checked = false) %>
          </div>
          <div class="row">
            <%= label_tag("Vulkan") %>
            <%= radio_button_tag("fra", "vulkan", checked = false) %>
          </div>
          <div class="row">
            <%= label_tag("Brennerivegen") %>
            <%= radio_button_tag("fra", "brennerivegen", checked = false) %>
          </div>
        </div>
        <div class="align-content-md-start">
          <%= "Til:" %>
          <div class="row">
            <%= label_tag("Fjerdingen") %>
            <%= radio_button_tag("til", "fjerdingen", checked = false) %>
          </div>
          <div class="row">
            <%= label_tag("Vulkan") %>
            <%= radio_button_tag("til", "vulkan", checked = false) %>
          </div>
          <div class="row">
            <%= label_tag("Brennerivegen") %>
            <%= radio_button_tag("til", "brennerivegen", checked = false) %>
          </div>
        </div>
        <div class="row btn">
          <%= submit_tag("Finn") %>
        </div>
      <% end %>
    </div>
  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Webprosjekt 2018</p>
  </div>
  <!-- /.container -->

</footer>