<!--    <div class="col-md-6">-->
<!--      <iframe style="border: 0;"-->
<!--              src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE &amp;destination=<%#= @til %>> &amp;origin=<%#= @fra %>> &amp;mode=transit" width="600" height="450" frameborder="0" allowfullscreen="allowfullscreen">-->
<!--        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>-->
<!--        <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>-->
<!--      </iframe>-->
<!--    </div>-->
<div class="col-md-1"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 card card-header">
    <div class="card-body">
      <div class="row">
        <%= form_tag '/logistics' do %>
          <%= hidden_field_tag 'Mode', 'TRAM', id: 'mode' %>
          <%= select_tag 'from', options_for_select(@campus.collect {|b| [b.name, b.address]}, params[:from]), class: 'btn-dark', onChange: 'this.form.submit();' %>
          <%= select_tag 'to', options_for_select(@campus.collect {|b| [b.name, b.address]}, params[:to]), class: 'btn-dark', onChange: 'this.form.submit();' %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div id="map"></div>
        </div>
        <div id="route_info" class="col-md-4 col-sm-12" style="min-width: 350px;">
            <%= render 'home/route_info' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeuhvsD4Oh7u3UNHNmrdtLvlDpdg1uygE&callback=calculateRoute"
        async defer></script>