<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Webprosjekt18</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom">
  <div class="container-fluid">
    <a href="/index" id="logo_small">
      <%= render 'home/svg/logo_symbol_christiania' %>
    </a>
    <a href="/index" id="logo">
      <%= render 'home/svg/logo_christiania' %>
    </a>
    <a class="text-dark" href="/index"><%= t('welcome') %></br>
      <Small><%= t('for_us') %></Small>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/logistics"><%= t('planner') %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/fjerdingen">Fjerdingen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/vulkan">Vulkan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/brenneriveien">Brenneriveien</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/kvadraturen">Kvadraturen</a>
        </li>
        <%= render 'shared/change_locale' %>
      </ul>
    </div>

  </div>
</nav>
<div class="container-fluid logistic" style="height: 100%; width: 100%;">
  <%= yield %>
</div>
</body>
</html>
